<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome Pitagon</h2>
      <h4 class="body-2 text-secondary m-0">Sign in with your credentials below.</h4>
    </div>

    <form (ngSubmit)="onSubmit()" name="loginForm" [formGroup]="loginForm" class="p-6" fxLayout="column"
      fxLayoutGap="16px">
      <mat-error *ngIf="!checkLogin">
        <b>Username or Password is incorrect</b>
      </mat-error>
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput required [(ngModel)]="accountLoginInfo.username">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">We need an username to log you in
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required
            [(ngModel)]="accountLoginInfo.password">
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Click the eye to toggle visibility</mat-hint>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">We need a password to log you in</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a [routerLink]="['/forgot-password']" class="caption">Forgot Password?</a>
      </div>

      <button color="primary" mat-raised-button type="submit" [disabled]="loginForm.invalid">
        SIGN IN
      </button>
    </form>
  </div>
</div>